<!DOCTYPE html>
<html lang="zh" ng-app="page">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TODO:上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>课程管理</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../media/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="../media/css/bootstrap-theme.min.css">
    <!-- 该页面自定义css -->
    <link rel="stylesheet" href="../media/css/index/index.css">

    <!-- jquery js， 一定要比bootstrap前面引入 -->
    <script src="../media/js/jquery-1.12.4/jquery.min.js"></script>
    <!-- bootstrap js -->
    <script src="../media/js/bootstrap-3.3.7/bootstrap.min.js"></script>
    <!-- angular js 引入 -->
    <script src="../media/js/angular-1.6.4/angular.min.js" ></script>
    <!-- angular route js 引入 -->
    <script src="../media/js/angular-1.6.4/angular-resource.min.js" ></script>
    <!-- angular route js 引入 -->
    <script src="../media/js/angular-1.6.4/angular-route.min.js" ></script>

    <!-- 项目共同方法 - global.js -->
    <script src="../media/js/global.js"></script>
    <!-- 项目共同定义 - global-config.js -->
    <script src="../media/js/global-config.js"></script>

    <!-- 以上是默认加载 -->
    <!-- 以下是页面加载 -->

    <!-- 引入页面css -->
    <link rel="stylesheet" href="../media/css/sysuser/index.css">

    <!-- bootstrap table组件以及中文包的引用 -->
    <link href="../media/css/bootstrap-table.min.css" rel="stylesheet" />

    <!-- bootstrap table组件以及中文包的引用 -->
    <script src="../media/js/bootstrap-table.min.js"></script>
    <script src="../media/js/bootstrap-table-zh-CN.min.js"></script>
    <!-- bootstrap table组件以及中文包的引用 -->

</head>
<body class="index-backgroup">

<!-- 引入Header -->
<div ng-include="'../header.html'"  class="header"></div>

<!-- 引入left -->
<div ng-include="'../left.html'"></div>

<!-- 主内容显示地区 -->
<div id="content" class="content" >
    <!-- 路径导航 -->
    <div id="breadcrumb">
        <ol class="breadcrumb">
            <i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;
            <li class=""><a href="/admin/index.html" target="_self">主页</a></li>
            <!-- TODO:-->
            <li class="active">课程管理</li>
        </ol>
    </div>

    <!-- 内容 -->
    <div id="dashboard" class="dashboard" ng-controller="dashboard">
        <div id="process" class="text-center"></div>
        <!-- 开发填入相关开发页面代码 -->
        <div id="toolbar_box">
            <form class="form-inline" role="form" >
                <div class="row">
                    <div class="col-sm-8">
                                                <div class="form-group">
                            <label for="courseNumber">课程编号：</label>
                            <input type="text" class="form-control" id="courseNumber" placeholder="请输入课程编号" ng-model="formData.courseNumber">
                        </div>
                                                <div class="form-group">
                            <label for="name">课程名称：</label>
                            <input type="text" class="form-control" id="name" placeholder="请输入课程名称" ng-model="formData.name">
                        </div>
                                                <!--<div class="form-group">-->
                            <!--<label for="learnHours">学时：</label>-->
                            <!--<input type="text" class="form-control" id="learnHours" placeholder="请输入学时" ng-model="formData.learnHours">-->
                        <!--</div>-->
                                                <!--<div class="form-group">-->
                            <!--<label for="credit">学分：</label>-->
                            <!--<input type="text" class="form-control" id="credit" placeholder="请输入学分" ng-model="formData.credit">-->
                        <!--</div>-->
                                                <!--<div class="form-group">-->
                            <!--<label for="avgFraction">平均分：</label>-->
                            <!--<input type="text" class="form-control" id="avgFraction" placeholder="请输入平均分" ng-model="formData.avgFraction">-->
                        <!--</div>-->
                        <div class="form-group">
                            <label for="preCourse">先修课：</label>
                            <select id="preCourse" name="preCourse" class="form-control" ng-init="formData.preCourse" ng-model="formData.preCourse" ng-options="x.id as x.name for x in preCourses">
                            </select>
                        </div>
                                                <!--
                        <div class="form-group">
                            <label for="enabled">状态：</label>
                            <select id="enabled" name="enabled" class="form-control" ng-init="formData.enabled" ng-model="formData.enabled" ng-options="x.id as x.value  for x in enableds">
                            </select>
                        </div>
                        -->
                        <div class="form-group">
                            <button id="search-btn" class="btn btn-primary" type="submit" ng-click="search();">查询</button>
                        </div>
                    </div>
                    <div class="text-right" style="float: right;">
                        <button id="delete-multi-btn" class="btn btn-primary" >批量删除</button>
                        <!-- TODO:-->
                        <a href="/admin/course/courseedit.html" id="add-btn" class="btn btn-primary" type="button" target="_self">添加</a>

                        <button id="update-avgFraction-multi-btn" class="btn btn-primary" >更新平均成绩</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="control-group">
            <table id="tb_user"></table>
        </div>
    </div>
</div>

<!-- 引入弹出层模态框 -->
<div ng-include="'../modal.html'" ></div>

<!-- 引入footer -->
<div ng-include="'../footer.html'" ></div>

<!-- TODO:引入 页面js -->
<script src="../media/js/course/index.js"></script>
</body>
</html>