<!DOCTYPE html>
<html lang="zh" ng-app="page">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <!-- TODO:上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>成绩管理新增/更改</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../media/css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="../media/css/bootstrap-theme.min.css">
    <!-- 该页面自定义css -->
    <link rel="stylesheet" href="../media/css/index/index.css">

    <!-- jquery js， 一定要比bootstrap前面引入 -->
    <script src="../media/js/jquery-1.12.4/jquery.min.js"></script>
    <!-- bootstrap js -->
    <script src="../media/js/bootstrap-3.3.7/bootstrap.min.js"></script>
    <!-- angular js 引入 -->
    <script src="../media/js/angular-1.6.4/angular.min.js" ></script>
    <!-- angular route js 引入 -->
    <script src="../media/js/angular-1.6.4/angular-resource.min.js" ></script>
    <!-- angular route js 引入 -->
    <script src="../media/js/angular-1.6.4/angular-route.min.js" ></script>

    <!-- 项目共同方法 - global.js -->
    <script src="../media/js/global.js"></script>
    <!-- 项目共同定义 - global-config.js -->
    <script src="../media/js/global-config.js"></script>

    <!-- 以上是默认加载 -->
    <!-- 以下是页面加载 -->
    <!-- 引入页面css -->
    <!-- <link rel="stylesheet" href="../media/css/sysrole/sysroleedit.css"> -->

    <!--<base href="/" />-->

    <!-- bootstrap table组件以及中文包的引用 -->
    <link href="../media/css/bootstrap-table.min.css" rel="stylesheet" />

    <!-- bootstrap table组件以及中文包的引用 -->
    <script src="../media/js/bootstrap-table.min.js"></script>
    <script src="../media/js/bootstrap-table-zh-CN.min.js"></script>
    <!-- bootstrap table组件以及中文包的引用 -->

</head>
<body class="index-backgroup">

<!-- 引入Header -->
<div ng-include="'../header.html'"  class="header"></div>

<!-- 引入left -->
<div ng-include="'../left.html'"></div>

<!-- 主内容显示地区 -->
<div id="content" class="content">
    <!-- 路径导航 -->
    <ol class="breadcrumb">
        <i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;
        <li class=""><a href="/admin/index.html" target="_self">主页</a></li>
        <!-- TODO:-->
        <li class=""><a href="/admin/sc/index.html" target="_self">成绩管理</a></li>
        <!-- TODO:-->
        <li class="active">成绩新增/更改</li>
    </ol>

    <!-- 内容 -->
    <div id="dashboard" ng-controller="form">
        <div id="process" class="form-group text-center col-sm-12">{{process}}</div>
        <!-- 开发填入相关开发页面代码 -->
        <form id="form" class="form-horizontal" role="form">
            <div class="form-group">
                <div class="text-right col-sm-12">
                    <button type="button" class="btn btn-primary" id="validateBtn" ng-click="submit();">保存</button>
                    <!--  visibility: hidden; -->
                </div>
            </div>
            <div class="form-group">
                <label for="id" class="col-sm-2 control-label">id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="id"  readonly placeholder="序号" ng-model="formData.id">
                </div>
            </div>
                    <!--<div class="form-group">-->
                <!--<label for="createTime" class="col-sm-2 control-label">添加时间</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input id="createTime" type="text" class="form-control" readonly placeholder="添加时间" ng-model="formData.createTime">-->
                    <!--</input>-->
                <!--</div>-->
            <!--</div>-->
                    <!--<div class="form-group">-->
                <!--<label for="updateTime" class="col-sm-2 control-label">更新时间</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input id="updateTime" type="text" class="form-control" readonly placeholder="更新时间" ng-model="formData.updateTime">-->
                    <!--</input>-->
                <!--</div>-->
            <!--</div>-->
                    <div class="form-group">
                <label for="studentNumber" class="col-sm-2 control-label">学号</label>
                <div class="col-sm-10">
                    <input id="studentNumber" type="text" class="form-control" placeholder="学号" ng-model="formData.student.studentNumber">
                    </input>
                </div>
            </div>
                    <div class="form-group">
                <label for="studentName" class="col-sm-2 control-label">学生姓名</label>
                <div class="col-sm-10">
                    <input id="studentName" type="text" class="form-control" placeholder="学生姓名" ng-model="formData.student.name">
                    </input>
                </div>
            </div>
                    <div class="form-group">
                <label for="courseNumber" class="col-sm-2 control-label">课程号</label>
                <div class="col-sm-10">
                    <input id="courseNumber" type="text" class="form-control" placeholder="课程号" ng-model="formData.course.courseNumber">
                    </input>
                </div>
            </div>
                    <div class="form-group">
                <label for="courseName" class="col-sm-2 control-label">课程名称</label>
                <div class="col-sm-10">
                    <input id="courseName" type="text" class="form-control" placeholder="课程名称" ng-model="formData.course.name">
                    </input>
                </div>
            </div>
                    <div class="form-group">
                <label for="fraction" class="col-sm-2 control-label">成绩</label>
                <div class="col-sm-10">
                    <input id="fraction" type="text" class="form-control" placeholder="成绩" ng-model="formData.fraction">
                    </input>
                </div>
            </div>
                    <div class="form-group">
                <label for="gradeRanking" class="col-sm-2 control-label">全级排名</label>
                <div class="col-sm-10">
                    <input id="gradeRanking" type="text" class="form-control" readonly placeholder="全级排名" ng-model="formData.gradeRanking">
                    </input>
                </div>
            </div>
                    <!--<div class="form-group">-->
                <!--<label for="gradeRankingPercent" class="col-sm-2 control-label">全级排名百分比</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input id="gradeRankingPercent" type="text" class="form-control" readonly placeholder="全级排名百分比" ng-model="formData.gradeRankingPercent">-->
                    <!--</input>-->
                <!--</div>-->
            <!--</div>-->
                    <div class="form-group">
                <label for="classRanking" class="col-sm-2 control-label">班级排名</label>
                <div class="col-sm-10">
                    <input id="classRanking" type="text" class="form-control" readonly placeholder="班级排名" ng-model="formData.classRanking">
                    </input>
                </div>
            </div>
                    <!--<div class="form-group">-->
                <!--<label for="classRankingPercent" class="col-sm-2 control-label">班级排名百分比</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input id="classRankingPercent" type="text" class="form-control" readonly placeholder="班级排名百分比" ng-model="formData.classRankingPercent">-->
                    <!--</input>-->
                <!--</div>-->
            <!--</div>-->
                    <!--
            <div class="form-group">
                <label for="scholarshipLevel" class="col-sm-2 control-label">奖学金等级</label>
                <div class="col-sm-10">
                    <select id="scholarshipLevel" name="scholarshipLevel" class="form-control" ng-init="formData.scholarshipLevel" ng-model="formData.scholarshipLevel" ng-options="x for x in scholarshipLevels">
                    </select>
                </div>
            </div>
            -->
        </form>
    </div>
</div>

<!-- 引入弹出层模态框 -->
<div ng-include="'../modal.html'" ></div>

<!-- 引入footer -->
<div ng-include="'../footer.html'" ></div>

<!-- TODO:引入 页面js -->
<script src="../media/js/sc/scedit.js"></script>

</body>
</html>